<div>This is the usuarios-create view.</div>

<form name="userForm" ng-submit="userForm.$valid && vm.createUser()" novalidate>

    <label for="">Tipo Documento</label>
    <select name="" id="" ng-model="vm.usuario.tipoDocumento.id">
		<option ng-value="{{item.id}}" ng-repeat="item in vm.tiposDocumentos">{{item.descripcion}}</option>
	</select>
    <div class="form-group">
        <label for="">Documento</label>
        <input class="form-control" type="text" ng-blur="vm.validarNumDocumento()" name="numDocumento" required minlength="7" maxlength="10" ng-pattern="/^[0-9]{1,20}$/" ng-model="vm.usuario.numDocumento">
        <div class="" ng-messages="userForm.numDocumento.$error" ng-show="userForm.numDocumento.$dirty">
            <div class="alert alert-danger" ng-show="vm.showValidarDocumento">
                Numero de documento ya se encuentra registrado
            </div>
            <div class="alert alert-danger" ng-message="required">
                Este campo es requerido
            </div>
            <div class="alert alert-danger" ng-message="minlength">
                El documento debe tener minimo 7 caracteres
            </div>
            <div class="alert alert-danger" ng-message="pattern">
                No es permitido el ingreso de letras
            </div>
        </div>
    </div>

    <label for="">Apellidos</label>
    <input type="text" ng-model="vm.usuario.apellidos">

    <label for="">Nombres</label>
    <input type="text" ng-model="vm.usuario.nombres">

    <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" ng-blur="vm.validarEmail()" type="text" name="email" required ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" ng-model="vm.usuario.email">
        <div class="" ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
            <div class="alert alert-danger" ng-show="vm.showValidarEmail">
                Email ya se encuentra registrado
            </div>
            <div class="alert alert-danger" ng-message="required">
                Este campo es requerido
            </div>
            <div class="alert alert-danger" ng-message="minlength">
                El email debe tener minimo 7 caracteres
            </div>
        </div>
    </div>

    <label for="">password</label>
    <input type="password" ng-model="vm.usuario.password">

    <label for="">Sexo</label>
    <select ng-model="vm.usuario.sexo">
		<option value="M">Masculino</option>
		<option value="F">Femenino</option>
		<option value="O">Otros</option>
	</select>

    <!--select name="" id="" ng-model="vm.idDepartamento" ng-change="vm.getCiudades()">
		<option ng-value="{{item.id}}" ng-repeat="item in vm.departamentos">{{item.nombre}}</option>
	</select>

    <label for="">Ciudad</label>
    <select name="" id="" ng-model="vm.usuario.ciudad.id">
		<option ng-value="{{item.id}}" ng-repeat="item in vm.ciudades">{{item.nombre}}</option>
    </select-->

    <!--Autocomplete-->
    <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.nombre" md-min-length="0" placeholder="Autocomplete de Ciudades"
        md-menu-class="autocomplete-custom-template">
        <md-item-template>
            <span class="item-title">
      <span> {{item.nombre}} </span>
            </span>
        </md-item-template>
    </md-autocomplete>
    <!--Autocomplete-->

    <button type="submit" ng-disabled="userForm.$invalid">Registrar</button>

</form>